/* 상단바 */
.myinfo-page .top-bar {
  height: 35px;
  background-color: #404040;
}

/* 로고 및 하단 실선 */
.myinfo-page .logo-container {
  display: block;
  text-align: left;
  padding: 15px 0;
  padding-left: 20px;
  margin: 0 30px;
}

.myinfo-page .logo {
  width: 130px;
  height: auto;
}

.myinfo-page .line {
  height: 1px;
  background-color: #d3d3d3;
  margin: 0 30px 20px 30px;
}

/* 내 정보 섹션 */
.myinfo-page .myinfo-content {
  max-width: 500px;
  margin: 0 auto;
}

.myinfo-page .myinfo-content h2 {
  text-align: left;
  font-size: 24px;
  font-family: 'Gowun Dodum';
  margin-bottom: 2px;
  margin-top: 50px;
  color: #404040;
}

.myinfo-page .underline {
  height: 2px;
  background-color: #FF6000;
  width: 100px;
  margin-bottom: 80px;
}

/* 폼 스타일링 */
.myinfo-page .myinfo-form {
  display: flex;
  flex-direction: column;
}

.myinfo-page .myinfo-form label {
  font-size: 18px;
  color: #404040;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 20px;
  font-family: 'Gowun Dodum';
  text-align: left;
}

.myinfo-page .myinfo-form input {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 10px;
  border: 1px solid #959595;
  border-radius: 5px;
  width: calc(100% - 40px); /* 전체 너비에서 양쪽 여백을 뺀 값 */
}

.myinfo-page .myinfo-form input:focus {
  border-color: #FF6000; /* 포커스 시 테두리 색상 */
  outline: none; /* 기본 아웃라인 제거 */
}

.myinfo-page .gender-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 35px;
  width: calc(100% - 40px); /* 전체 너비에서 양쪽 여백을 뺀 값 */
}

.myinfo-page .gender-container button {
  padding: 15px;
  border: 1px solid #959595;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Gowun Dodum';
  flex: 1;
}

.myinfo-page .gender-container button:last-child {
  margin-right: 0;
}

.myinfo-page .gender-container .selected {
  border-color: #FF6000;
}

.myinfo-page .error {
  color: red;
  font-size: 14px;
  margin-left: 20px;
}

/* 버튼 스타일링 */
.myinfo-page .button-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.myinfo-page .save-button,
.myinfo-page .home-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #404040;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Gowun Dodum';
  width: 100px;
}

.myinfo-page .home-button {
  background-color: #FF6000;
}
