.report-week {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 10px;
  }
  
  .chart-container {
    width: 90%;
    height: 280px; /* 그래프 크기 조정 */
  }
  
  .statistics-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .statistic-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    width: 150px;
    height : 80px;
    margin: 40px;
  }
  
  .statistic-label {
    font-size: 18px;
    color: #404040;
  }
  
  .statistic-value {
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #FFA559;
  }
  
